<div class="index_style">
  <!-- <button> -->
    <%#= link_to "Export Users Data", export_users_data_path %>
  <!-- </button> -->


<div class="index_view">
 Meals Index:
  <%= render partial: 'meals/meals', locals: { meals: @meals } %>
</div>