<p>json data</p>
		<p id="user_show_id"></p>
		<p id="user_show_username"></p>
		<p id="user_show_role"></p>
		<p id="user_show_email"></p>
		<p id="user_show_weight"></p>
		<p id="user_show_diet"></p>
<p>json meals</p>
	<p id="user_show_meals"></p>
	<p id="user_show_foods"></p>
	<p id="user_show_logs"></p>
</p>