<table>
  <tr align="left">
		<td id="user_show_id"></td>
		<td id="user_show_username"></td>
		<td id="user_show_role"></td>
		<td id="user_show_email"></td>
		<td id="user_show_weight"></td>
		<td id="user_show_diet"></td>
	</tr> 
	<tr id="user_show_meals"></tr>
	<tr id="user_show_foods"></tr>
	<tr id="user_show_logs"></tr>
</table> 