
<div class="index_view">
  <h2>Welcome to DietPlanner</h2>

  <h4>Your foods, calories, meals, diets, ups and downs in a supportive volunteer community.
  </h4>

</div>
<p>"Man who stand on mountain, with mouth open, waiting for Roast Duck to fly in...have very long wait."
  <i><br>-- Confucius</i>
</p>

<p>“That which is measured, improves”
  <i><br>-- Mom</i>
</p>
<hr>
</div>