<div class='index_view'>
  <table>
    <tr align="left">
      <th>Edit</th>
      <th>Delete</th>  
      <th>ID</th>
      <th>Name</th>
    </tr>
    <% @mealnames.each do |mealname| %>
      <tr>
        <td><%= link_to 'Edit', edit_mealname_path(mealname) %></td>
        <td><%= link_to 'Delete', mealname_path(mealname), :method => :delete, :confirm => 'Are you sure?' %></td>
        <td><%= mealname.id %></td>
        <td><%= mealname.name %></td>
      </tr>
    <% end %>
  </table>
</div>
