<h3>Add Mealname</h3>
<p>
  Use this form when Admin adds to Mealnames table.(breakfast, lunch, dinner, etc...) 
</p>

<%= render partial: 'mealnames/mealname_form', locals: { mealname: @mealname } %>
