<h3>Diets</h3>

<% if current_user.admin? %>
<p><%= link_to "New Diet", new_diet_path %></p>
<% end %>

<%= render partial: 'diets/diets', locals: { diets: @diets } %>
<br>
<%= render partial: 'diets/dietstats', locals: { diets: @diets } %>