<table>
  <tr align="left">
  <% if current_user.admin? %>
    <th>Edit</th>
    <th>Delete</th>
  <% end %>    
    <th>ID</th>
    <th>Name</th>
  </tr>
  <% diets.sort_by.each do |diet| %>
    <tr>
    <% if current_user.admin? %>    
      <td><%= link_to 'Edit', edit_diet_path(diet) %></td>
      <td><%= link_to 'Delete', diet_path(diet), method: :delete, confirm: 'Are you sure?' %></td>
    <% end %>
      <td><%= diet.id %></td>      
      <td><%= link_to diet.name, diet_path(diet) %></td>
    </tr>
  <% end %><br>
</table>
